/* Layouts */
/* PAGE LAYOUT
-----------------------------*/
.small-body .page-wrapper {
    min-height: 100vh;
    position: relative;
    .footer {
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
    }
}
.page-wrapper {
    background: @pagecontentbg;
    float: left;
    width: 100%;
    .clearfix();
}
body {
    color: @textcolor;
    font-family: @bodyfont;
    font-size: @textsize;
    line-height: 1.9;
    -webkit-transition: opacity .24s ease-in-out;
       -moz-transition: opacity .24s ease-in-out;
            transition: opacity .24s ease-in-out;
}
.heightzero {
    height: 0;
    overflow: hidden;
}
.wrapper {
    margin: 0 auto;
    position: relative;
    width: 100%;
    .clearfix();
    .row-container {
        display: block;
        margin: 0 auto;
        max-width: @rowcontainer;
        width: 100%;
        &:after {
            clear: both;
            content: '';
            display: block;
            height: 0;
            line-height: 0;
            visibility: hidden;
        }
    }
    // Box layout
    &.box-layout {
        overflow: hidden;
        .box-shadow(0px 0px 10px 0px rgba(0, 0, 0, .2));
        &:after {
            clear: both;
            content: '';
            display: block;
            height: 0;
            line-height: 0;
            visibility: hidden;
        }
    }
    &.box-body {
        .header-container {
            background: none;
        }
        .page-wrapper {
            padding-bottom: 70px;
        }
    }
}
.wrapper .vc_row.full-width,
.wrapper .vc_row[data-vc-full-width] {
    .row-container {
        margin-left: -15px;
        margin-right: -15px;
        max-width: none !important; // override 
        width: auto;
    }
    &.vc_row-no-padding {
        .row-container {
            margin-left: 0;
            margin-right: 0;
            padding-left: 0;
            padding-right: 0;
        }
    }
}
.wrapper .vc_row[data-vc-full-width] {
    overflow: visible; /* override */
}
.wrapper {
    .vc_col-has-fill > .vc_column-inner,
    .vc_row-has-fill > .vc_column_container > .vc_column-inner {
        padding-top: 0;
    }
    .vc_column_container > .vc_column-inner {
        width: auto;
    }
}
.vc_row {
    margin-bottom: @rowspace - 35px;
}
/* SHOP PAGE
-----------------------------*/
.shop-page {
    .main-container {
        padding-top: 0;
    }
}
.shop-banner {
    margin-bottom: 35px;
    position: relative;
    img {
        width: 100%;
    }
}
.fullwidth .shop-banner {
    display: none;
}
.shop-title {
    display: none;
}
/* PRODUCT PAGE
-----------------------------*/
.single-product {
    .product-banner {
        margin-bottom: 40px;
    }
}
/* INNER BRANDS
-----------------------------*/
.inner-brands {
    float: left;
    margin-bottom: 75px;
    width: 100%;
}
/* IMAGE HOVER 
-----------------------------*/
// Image hover effect (in main-container, not include header, footer -> logo, image payment)
.main-container .wpb_single_image {
     > .wpb_wrapper {
        max-width: 100%; // for responsive FF and IE
    }
}
.main-container {
    .wpb_single_image a,
    .image-hover-effect {
        .image-hover-effect();
    }
}
/* ICON
-----------------------------*/
.wrapper i.icon {
    display: inline-block;
    height: auto;
    line-height: inherit;
    margin: 0;
    vertical-align: middle;
    width: auto;
}
/* SLIDER REVOLUTION
-----------------------------*/
.wrapper .wpb_revslider_element {
    margin-bottom: 35px;
    .box-shadow();
    .tp-caption {
        a {
            color: inherit;
            display: block;
            line-height: inherit !important;
            position: relative;
            .transition(inherit);
            &:hover {
                color: inherit;
            }
        }
        i {
            font-size: 16px;
            line-height: inherit !important;
            margin-left: 5px;
            vertical-align: top;
        }
    }
}

/*CAROUSEL
-----------------------------*/

/* PRODUCT CAROUSEL
-----------------------------*/
.roadthemes-slider {
    .item-col {
        flex: 0 1 auto; /* override */
        max-width: 100%; /* override */
        padding-left: 0; /* override */
        padding-right: 0; /* override */
        width: 100%;
    }
}
.roadthemes-slider.roadthemes-products {
    .shop-products {
        background: @white;
        margin-left: 0; /* override */
        margin-right: 0; /* override */
        .item-col {
            margin-bottom: 0; /* override */
            padding-left: 0; /* override */
            padding-right: 0; /* override */
            width: 300px; // slider not load
            &:last-child {
                border-bottom: none;
            }
        }
        .product-wrapper {
            max-width: 99%;/* for boeder */
        }
        .owl-item {
            // padding: 1px;/* fix border */
            .item-col {
                width: 100%;
            }
            .product-wrapper {
                margin-left: auto;
                margin-right: auto;
                width: 100%;
            }
            &.lastActiveItem {
                .item-col {
                    border-right: none;
                }
            }
        }
        .group {
            display: block; /* override */
        }
        .owl-item.active {
            .item-col {
                .animation(zoomIn 500ms ease-in-out);
            }
        }
    }
}
/* LIST PRODUCT
-----------------------------*/
.product-list {
    background: @white;
    .shop-products {
        padding: 15px 0;
        .group {
            width: 100%; /* override */
            .item-col {
                border: none;
                margin-bottom: 0;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
        .listview {
            display: block;
        }
        .gridview {
            display: none;
        }
        .row {
            margin-left: 0;
            margin-right: 0;
        }
        .product-wrapper {
            padding-bottom: 25px;
            padding-top: 25px;
        }
        .list-col4 {
            float: left;
            width: 35%;
        }
        .list-col8 {
            float: left;
            padding: 0 0 0 20px;
            width: 65%;
        }
        .product-name {
            margin: 0 0 10px 0;
            a {
                font-size: 1.133em;
            }
        }
        .price-box {
            font-size: @pricefontsize;
            margin-bottom: 5px;
        }
        .quickviewbtn,
        .onsale,
        .product-desc,
        .actions {
            display: none;
        }
        .star-rating {
            margin: 0;
        }
    }
    &.roadthemes-slider {
        .owl-dots {
            margin-top: 35px;
            text-align: left;
        }
    }
}
/* CATEGORIES MENU
-----------------------------*/
.categories-menu-wrapper {
    position: relative;
    .categories-menu {
        min-height: auto;
        width: 100%;
        z-index: 99;
        &.show {
            .catemenu {
                height: auto;
                overflow: visible;
                .box-shadow();
            }
        }
        .catemenu-toggler {
            background: @primarycolor;
            color: @white;
            cursor: pointer;
            font-family: @headingfont;
            font-size: 15px;
            font-weight: 500;
            line-height: 1.35;
            padding: 16px 24px;
            position: relative;
            width: 100%;
            .border-radius(0 5px 0 0);
            &:before {
                background: @primarycolor;
                content: '';
                height: 100%;
                left: 0;
                position: absolute;
                top: 0;
                width: 15px;
                z-index: 1;
                .transform(translateX(-100%));
            }
            &:after {
                border-bottom: 15px solid transparent;
                border-left: 15px solid transparent;
                border-top: 15px solid darken(@primarycolor, 10%);
                bottom: 0;
                content: '';
                left: -15px;
                position: absolute;
                z-index: 1;
                .transform(translateY(100%));
            }
            span {
                &:before {
                    content: '\3d';
                    display: inline-block;
                    font-family: 'ElegantIcons';
                    font-size: 18px;
                    line-height: 1;
                    margin-right: 15px;
                    vertical-align: top;
                }
            }
        }
        .catemenu {
            background: @categoriesbg;
            height: 0;
            overflow: hidden;
            .transition();
        }
        .catemenu-inner {
            width: 100%;
        }
        .categories {
            display: none;
        }
        /* for default wordpress menu (not selected menu location) */
        & > ul {
            display: none;
            margin: 0;
            & > li {
                display: none;
            }
        }
        /* for default wordpress menu (selected menu location) */
        .categories-menu-container {
            display: none;
            position: relative;
            z-index: 100;
            ul {
                background: @categoriesbg;
                margin: 0;
                padding: 0;
                & > li {
                    list-style: none;
                    padding: 0 15px;
                    position: relative;
                    &.menu-item-has-children {
                         > a {
                            &:after {
                                border: none !important;
                                color: inherit;
                                content: '\f105';
                                display: inline-block;
                                font-family: FontAwesome;
                                font-size: 16px;
                                height: auto;
                                left: auto;
                                position: absolute;
                                right: 15px;
                                top: 50%;
                                width: auto;
                                .transform(translateY(-50%));
                            }
                        }
                    }
                    &:hover {
                        & > a {
                            color: @primarycolor;
                        }
                         > .sub-menu {
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                    .sub-menu {
                        border: 1px solid @bordercolor;
                        left: 100%;
                        min-width: 200px;
                        opacity: 0;
                        position: absolute;
                        top: 0;
                        visibility: hidden;
                        z-index: 9;
                        .transition();
                        .sub-menu {
                            top: 10px;
                        }
                    }
                    //first level
                    & > a {
                        background-image: none;
                        border-bottom: 1px solid @bordercolor;
                        color: @menucolor;
                        display: block;
                        font-family: @menufont;
                        font-size: 12px;
                        font-weight: normal;
                        padding: 12px 15px;
                        text-decoration: none;
                        text-transform: none;
                        -webkit-transition: all .4s ease;
                                transition: all .4s ease;
                        &:hover {
                            color: @primarycolor;
                        }
                    }
                }
            }
        }
        /* for normal */
        .categories {
            height: auto;
            & > .menu_holder {
                width: 100%;
                .menu_inner {
                    width: 100%;
                    .nav_logo {
                        display: none;
                    }
                    & > ul {
                        & > li {
                            background: none;
                            padding: 0;

                            &.nav_search_box {
                                display: none !important;
                            }
                            &.current-menu-ancestor,
                            &.current-menu-item,
                            &.current-product-ancestor,
                            &:hover {
                                & > a {
                                    &.item_link {
                                        color: @linkhovercolor;
                                        .link_text,
                                        &:after,
                                        .link_content,
                                        i {
                                            color: @linkhovercolor;
                                        }
                                    }
                                }
                            }
                            &.menu-item-has-children {
                                & > a {
                                    &.item_link {
                                        // background-color: @primarycolor;
                                        background-image: none;
                                        &:before {
                                            display: none;
                                        }
                                        &:after {
                                            border: none !important;
                                            color: inherit;
                                            content: '\f105';
                                            display: inline-block;
                                            font-family: FontAwesome;
                                            font-size: 16px;
                                            height: auto;
                                            left: auto;
                                            position: absolute;
                                            right: 15px;
                                            top: 50%;
                                            width: auto;
                                            .transform(translateY(-50%));
                                        }
                                    }
                                }
                            }
                            //first level
                            & > a {
                                &.item_link {
                                    background: none;
                                    border-bottom: 1px solid @bordercolor;
                                    color: @categoriescolor;
                                    display: block;
                                    height: auto; // override
                                    line-height: 1.8;
                                    min-height: 0 !important;
                                    overflow: hidden;
                                    padding: 10px 25px;
                                    text-decoration: none;
                                    -webkit-transition: all .4s ease;
                                            transition: all .4s ease;
                                    .link_text,
                                    i {
                                        color: @categoriescolor;
                                        height: 100%;
                                        text-transform: capitalize;
                                    }
                                    i {
                                        font-size: 14px; /* override */
                                        line-height: 1;
                                        padding-right: 10px; /* override */
                                        position: relative;
                                        top: 5px;
                                        width: auto; /* override */
                                    }
                                    .link_content {
                                        height: auto; /* override */
                                        line-height: inherit; /* override */
                                        min-height: 0; /* override */
                                        position: relative;
                                    }
                                    .link_text {
                                        font-size: @categoriesfontsize;
                                        font-weight: @categoriesfontweight;
                                        height: 100%;
                                        line-height: inherit;
                                        margin: 0 !important;
                                        min-height: 0 !important;
                                        padding-right: 15px;
                                        word-break: break-word;
                                    }
                                    &.with_icon {
                                         > .link_content {
                                            margin: 0;
                                        }
                                    }
                                    &:before,
                                    &:after {
                                        display: none;
                                    }
                                }
                            }
                            &.default_dropdown {
                                ul.mega_dropdown {
                                    background: @categoriessubmenubg;
                                    border: 1px solid @bordercolor;
                                    box-shadow: none;
                                    padding: 0 15px;
                                    li {
                                        border-bottom: 1px solid @bordercolor;
                                        width: 100%;
                                        &:last-child {
                                            border-bottom: none;
                                        }
                                        a.item_link {
                                            background: none;
                                            border: none;
                                            display: block;
                                            font-size: @categoriessubmenufontsize;
                                            line-height: 1.8;
                                            padding: 12px 0;
                                            text-transform: none;
                                            .link_text {
                                                color: @categoriessubmenucolor;
                                                font-family: @categoriessubmenufont;
                                                font-size: @categoriessubmenufontsize;
                                                font-weight: normal;
                                            }
                                            i {
                                                color: @textcolor;
                                                float: left;
                                                padding-right: 9px;
                                                position: static;
                                            }
                                            &:focus {
                                                background: none;
                                            }
                                            &:before {
                                                display: none;
                                            }
                                            &:hover {
                                                background: none;
                                                .link_text {
                                                    color: @primarycolor;
                                                }
                                                i {
                                                    color: @primarycolor;
                                                }
                                            }
                                        }
                                        &:hover,
                                        &.current-menu-ancestor,
                                        &.current-menu-item,
                                        &.current-product-ancestor {
                                            & > a.item_link {
                                                background: none;
                                                .link_text {
                                                    color: @primarycolor;
                                                }
                                                i {
                                                    color: @primarycolor;
                                                }
                                            }
                                            & > .item_link * {
                                                color: @primarycolor;
                                            }
                                        }
                                    }
                                }
                            }
                            &.multicolumn_dropdown {
                                &.columns3 {
                                    & > ul.mega_dropdown {
                                        width: 670px;
                                    }
                                }
                                &.columns2 {
                                    & > ul.mega_dropdown {
                                        width: 460px;
                                    }
                                }
                                &.columns1 {
                                    & > ul.mega_dropdown {
                                        width: 255px;
                                    }
                                }
                                & > ul.mega_dropdown {
                                    background: @categoriessubmenubg;
                                    border: 1px solid @bordercolor;
                                    box-shadow: none;
                                    padding: 25px 0;
                                    & > li {
                                        padding: 15px 20px 10px 30px;
                                        a {
                                            background: none;
                                            padding: 0;
                                            text-transform: none;
                                            .link_text {
                                                color: @categoriessubmenucolor;
                                                display: block;
                                                font-family: @categoriessubmenufont;
                                                font-size: @categoriessubmenufontsize;
                                                font-weight: normal;
                                            }
                                            i {
                                                color: @categoriessubmenucolor;
                                                float: left;
                                                height: 36px;
                                                line-height: 36px;
                                                padding-right: 9px;
                                                position: static;
                                            }
                                            &:focus {
                                                background: none;
                                            }
                                            &:before {
                                                display: none;
                                            }
                                            &:hover {
                                                background: none;
                                                .link_text {
                                                    color: @primarycolor;
                                                }
                                                i {
                                                    color: @primarycolor;
                                                }
                                            }
                                        }
                                        //first sub level
                                        & > a {
                                            display: inline-block;
                                            font-size: @categoriessubmenufontsize;
                                            margin-bottom: 25px;
                                            position: relative;
                                            width: 100%;
                                            &[href='#'] {
                                                pointer-events: none;
                                            }
                                            .link_text {
                                                color: @primarycolor;
                                                display: block;
                                                font-family: @categoriessubmenufont;
                                                font-size: 1em;
                                                font-weight: @headingfontweight;
                                                line-height: 1.5;
                                                text-transform: uppercase;
                                            }
                                            i {
                                                height: 47px;
                                                line-height: 47px;
                                            }
                                            &:before {
                                                display: none;
                                            }
                                            &:hover {
                                                .link_text {
                                                    color: @primarycolor;
                                                }
                                                i {
                                                    color: @primarycolor;
                                                }
                                            }
                                        }
                                        ul.mega_dropdown {
                                            li {
                                                margin-bottom: 15px;
                                                &:last-child {
                                                    margin-bottom: 0;
                                                }
                                            }
                                        }
                                    }
                                    li {
                                        &.current-menu-item,
                                        &.current-product-parent {
                                            & > .item_link * {
                                                color: @primarycolor;
                                            }
                                        }
                                    }
                                }
                            }
                            &.widgets_dropdown {
                                & > ul.mega_dropdown {
                                    background: @categoriessubmenubg;
                                    border-color: @bordercolor @bordercolor @primarycolor @bordercolor;
                                    border-style: solid;
                                    border-width: 1px 1px 3px 1px;
                                    box-shadow: none;
                                    padding: 0 15px !important;
                                    & > li {
                                        margin: 0;
                                        &.widget_menu {
                                            padding: 0;
                                            position: absolute;
                                            right: 20px;
                                            top: 32px;
                                            width: 170px !important;
                                            .widget {
                                                font-size: 12px;
                                                line-height: 1.5;
                                                margin: 0;
                                                padding-left: 0;
                                                padding-right: 0;
                                                width: 100%;
                                                .widgettitle {
                                                    background: none;
                                                    border-bottom: 1px solid @bordercolor;
                                                    margin: 0 0 8px;
                                                    padding: 0 0 5px;
                                                    text-transform: uppercase;
                                                }
                                                p {
                                                    float: left;
                                                    margin: 0;
                                                    width: 100%;
                                                    &:first-child {
                                                        margin-left: 0;
                                                    }
                                                }
                                                a {
                                                    display: block;
                                                    float: left;
                                                    overflow: hidden;
                                                    padding: 0;
                                                    position: relative;
                                                    width: 100%;
                                                    img {
                                                        margin: 0;
                                                        -webkit-transition: -webkit-transform .3s ease;
                                                                transition:         transform .3s ease;
                                                    }
                                                    &:before {
                                                        background: #000;
                                                        content: '';
                                                        display: block;
                                                        height: 100%;
                                                        left: 0;
                                                        opacity: 0;
                                                        position: absolute;
                                                        top: 0;
                                                        -webkit-transition: all .3s ease;
                                                                transition: all .3s ease;
                                                        width: 100%;
                                                        z-index: 1;
                                                    }
                                                    &:hover {
                                                        img {
                                                            -webkit-transform: scale(1.05);
                                                                    transform: scale(1.05);
                                                        }
                                                        &:before {
                                                            opacity: .2;
                                                        }
                                                    }
                                                }
                                                img {
                                                    float: left;
                                                }
                                            }
                                        }
                                        a {
                                            background: none;
                                            padding: 0;
                                            text-transform: none;
                                            .link_text {
                                                color: @vmenucolor;
                                                font-family: @bodyfont;
                                                font-size: 12px;
                                                font-weight: normal;
                                                line-height: 36px;
                                            }
                                            i {
                                                color: @vmenucolor;
                                                float: left;
                                                height: 36px;
                                                line-height: 36px;
                                                padding-right: 9px;
                                                position: static;
                                            }
                                            &:focus {
                                                background: none;
                                            }
                                            &:before {
                                                display: none;
                                            }
                                            &:hover {
                                                background: none;
                                                .link_text {
                                                    color: @primarycolor;
                                                }
                                                i {
                                                    color: @primarycolor;
                                                }
                                            }
                                        }
                                        //first sub level
                                        & > a {
                                            border-bottom: 1px solid @bordercolor;
                                            display: inline-block;
                                            margin-bottom: 10px;
                                            text-transform: uppercase;
                                            width: 100%;
                                            .link_text {
                                                color: @vmenucolor;
                                                font-family: @menufont;
                                                font-size: 14px !important;
                                                font-weight: normal;
                                                line-height: 47px;
                                            }
                                            i {
                                                height: 47px;
                                                line-height: 47px;
                                            }
                                            &:before {
                                                display: none;
                                            }
                                            &:hover {
                                                .link_text {
                                                    color: @primarycolor;
                                                }
                                                i {
                                                    color: @primarycolor;
                                                }
                                            }
                                        }
                                        & > ul.mega_dropdown {
                                            padding-bottom: 10px;
                                        }
                                    }
                                    li {
                                        &.current-menu-item,
                                        &.current-product-parent {
                                            & > .item_link * {
                                                color: @primarycolor;
                                            }
                                        }
                                    }
                                }
                            }
                            &.submenu_full_width {
                                & > ul.mega_dropdown {
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
                .mmm_fullwidth_container {
                    display: none;
                }
            }
        }
        .menu-primary-menu-container {
            ul#menu-primary-menu {
                margin: 0;
                padding: 0;
                & > li {
                    list-style: none;
                }
            }
        }
        /* for active megamainmenu (not selected menu location) */
        div.mega_main_menu_ul {
            display: none;
        }
        .morelesscate {
            display: none;
            width: 100%;
            z-index: 9999999;
            span {
                color: @categoriescolor;
                cursor: pointer;
                display: block;
                font-family: @categoriesfont;
                font-size: 14px;
                font-weight: @headingfontweight;
                padding: 14px 25px;
                text-decoration: none;
                -webkit-transition: all .4s ease;
                        transition: all .4s ease;
                i {
                    font-size: 12px;
                    padding-right: 10px;
                }
                &.lesscate {
                    display: none;
                }
                &:hover {
                    color: @primarycolor;
                }
            }
        }
    }
}
/* BRAND CAROUSEL
-----------------------------*/
.brands-carousel {
    background: @white;
    padding: 20px 0;
    .box-shadow();
    .owl-item {
        a {
            display: block;
            text-align: center;
            &:hover {
                img {
                    .transform(scale(1.1));
                }
            }
            img {
                display: inline-block;
                width: auto;
                .transition();
            }
        }
    }
    &.style2 {
        border-bottom: 1px solid @bordercolor;
        border-top: 1px solid @bordercolor;
        padding: 40px 0;
    }
    &.style3 {
        border-top: 1px solid @bordercolor;
        margin-bottom: 0;
        padding: 40px 0;
    }
}
/* HOME TABS GENERAL
-----------------------------*/
.vc_tta-container {
    margin-bottom: 35px !important;
    .vc_tta-tabs-container {
        display: inline-block !important;
        margin: 0 !important;
        margin-right: 80px  !important; // for slider navigation
        padding: 0;
        position: relative !important;
        vertical-align: middle;
        z-index: 29 !important; // for slider navigation
    }
    .vc_tta-tabs-list {
        margin: 0 !important;
        padding: 0 !important;
        li {
            display: inline-block;
            list-style-type: none;
            margin: 0 10px 0 0 !important;
            vertical-align: middle;
            a {
                background: none !important;
                border: none !important;
                border-radius: 0 !important;
                color: @headingcolor !important;
                font-family: @headingfont;
                font-size: 1em;
                font-weight: @headingfontweight;
                line-height: 1.5;
                padding: 0 20px 15px 20px !important;
                position: relative;
                text-transform: uppercase;
                white-space: nowrap;
                .transition();
                &:before {
                    background: transparent;
                    bottom: 0 !important;
                    content: '';
                    display: block !important;
                    height: 2px !important;
                    left: 50% !important;
                    position: absolute !important;
                    right: 50% !important;
                    top: auto !important;
                    width: auto !important;
                    z-index: 9;
                    .transition();
                }
            }
            &:hover,
            &.vc_active {
                a {
                    background: none !important;
                    color: @primarycolor !important;
                    &:before {
                        background: @primarycolor;
                        left: 0 !important;
                        right: 0 !important;
                    }
                }
            }
        }
    }
    .vc_tta-panels-container {
        .vc_tta-panel-heading {
            display: none !important;
        }
        .vc_tta-panels {
            background: none !important;
            border: none !important;
        }
    }
    .vc_tta-panel-body {
        overflow: visible !important;
        padding: 0 !important;
        position: relative;
        z-index: 11;
    }
    .roadthemes-slider {
        .owl-carousel {
            margin-bottom: 0;
        }
        .owl-nav {
            background: none;
            top: -5px;
        }
    }
}
/* POLICY
-----------------------------*/
.policy {
    .row-container {
        display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
        display:    -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
        display: -ms-flexbox;      /* TWEENER - IE 10 */
        display: -webkit-flex;     /* NEW - Chrome */
        display:         flex;
        padding-bottom: 35px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .wpb_column {
        background: @white;
        border: 1px solid @bordercolor;
        text-align: center;
        &:not(:last-child) {
            border-right: none;
        }
        .vc_column-inner {
            padding-left: 20px;
            padding-right: 20px;
             > .wpb_wrapper {
                display: inline-block;
                padding: 18px 0 18px 50px;
                position: relative;
            }
        }
    }
    .wpb_single_image {
        left: 0;
        margin: 0;
        position: absolute;
        top: 50%;
        z-index: 9;
        .transform(translateY(-50%));
    }
    .wpb_text_column {
        margin: 0;
        h3 {
            color: @textcolor;
            font-size: .933em;
            margin: 0;
            text-transform: uppercase;
        }
    }
}
/* BANNER
-----------------------------*/
.banner-with-text {
    .row-container {
        padding-left: 5px;
        padding-right: 5px;
        .vc_column-inner {
            padding-left: 10px;
            padding-right: 10px;
        }
    }
    .vc_column-inner > .wpb_wrapper {
        margin-bottom: 35px;
        position: relative;
        &:hover {
            .wpb_text_column {
                .opacity(1);
            }
            img {
                .opacity(0);
            }
        }
    }
    .wpb_single_image {
        margin-bottom: 0;
        a {
            position: relative;
            z-index: 12;
        }
    }
    .wpb_text_column {
        align-items: center;
        background: #f4f4f4;
        bottom: 0;
        display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
        display:    -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
        display: -ms-flexbox;      /* TWEENER - IE 10 */
        display: -webkit-flex;     /* NEW - Chrome */
        display:         flex;
        left: 0;
        margin-bottom: 0;
        position: absolute;
        right: 0;
        text-align: center;
        top: 0;
        z-index: 7;
        .transition();
        .opacity(0);
        .wpb_wrapper {
            margin: auto;
            max-width: 270px;
        }
        h4 {
            color: #a3a3a3;
            font-size: .786em;
            margin-bottom: 5px;
        }
        h3 {
            color: @darkcolor;
            font-size: 1.714em;
            margin-bottom: 15px;
        }
    }
}
/* BLOG CAROUSEL
-----------------------------*/
.posts-carousel {
    background: @white;
    margin-bottom: 35px;
    padding: 30px 60px;
    position: relative;
    .box-shadow();
    &.slide {
        .item-col {
            flex: 0 1 auto;
            margin-bottom: 30px;
            max-width: 100%;
            width: 100%;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    &:not(.slide) {
        .group {
            .item-col {
                margin-bottom: 30px;
            }
            &:last-child {
                .item-col {
                    margin-bottom: 0;
                }
            }
        }
    }
    .post-wrapper {
        .clearfix();
    }
    .post-thumb {
        margin-bottom: 18px;
        position: relative;
        width: 100%;
        a {
            .image-hover-effect();
        }
    }
    .post-meta {
        color: #999;
        display: block;
        font-size: .867em;
        margin-bottom: 10px;
        .clearfix();
         > * {
            float: left;
            margin: 0 10px 0 0;
            &:last-child {
                margin: 0;
            }
        }
    }
    .post-date {
        display: block;
    }
    .post-comment {
        display: none;
    }
    .post-title {
        font-size: 1.133em;
        margin-bottom: 10px;
        a {
            color: @darkcolor;
            &:hover {
                color: @linkhovercolor;
            }
        }
    }
    .post-author {
        display: none;
    }
    .post-excerpt {
        display: none;
        line-height: 1.9;
        p {
            margin: 0;
        }
    }
    .readmore {
        color: #999;
        display: inline-block;
        font-family: @headingfont;
        font-size: .933em;
        font-weight: bold;
        &:hover {
            color: @primarycolor;
        }
        &:after {
            content: '\24';
            display: inline-block;
            font-family: 'ElegantIcons';
            font-size: 18px;
            margin-left: 10px;
            vertical-align: middle;
        }
    }
}
/* TESTIMONIAL
-----------------------------*/
.testimonials-container.layout1 {
    margin-bottom: @rowspace;
    padding: @rowspace 0;
    .testimonials-list {
        margin: 0;
    }
    .widget_woothemes_testimonials {
        .clearfix();
    }
    .testimonials {
        margin: auto;
        width: 100%;
        .clearfix();
        .quote {
            margin: auto;
            max-width: 900px;
            padding: 0 50px;
            position: relative;
            text-align: center;
             > .avatar,
             > a.avatar-link {
                background: @white;
                border: 11px solid #2d2f30;
                height: 93px;
                margin: auto;
                width: 93px;
                .border-radius(100%);
            }
        }
        .testimonials-text {
            background: none; /* override */
            border: none; /* override */
            color: @white;
            font-size: 1em;
            font-style: normal;
            line-height: 2;
            margin: 0 0 25px 0;
            padding: 0; // override
            text-align: center;
        }
        .author {
            display: block;
            margin-top: 14px;
            position: relative;
            text-align: center;
            .name,
            [itemprop='name'] {
                color: @primarycolor;
                display: block;
                font-family: @headingfont;
                font-style: normal; /* override */
                font-weight: @headingfontweight;
                text-transform: uppercase;
            }
            .title,
            [itemprop='jobTitle'] {
                color: #aaa;
                display: block;
                font-style: normal; /* override */
                font-weight: normal;
                margin: 5px 0 0 0;
            }
            [class*='url'] {
                display: none;
            }
            a {
                color: @primarycolor;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    .owl-dots {
        .owl-dot {
            &:hover,
            &.active {
                &:before {
                    background: @primarycolor;
                }
            }
        }
    }
}
/* IMAGE SLIDER
-----------------------------*/
.image-slider {
    background: @white;
    margin: 0 0 35px 0;
    padding: 32px 15px;
    .box-shadow();
    .image {
        a {
            border: 5px solid #ddd;
            display: block;
            height: 121px;
            line-height: 111px;
            margin: auto;
            max-width: 100%;
            overflow: hidden;
            text-align: center;
            text-align: center;
            width: 121px;
            .border-radius(100%);
            &:hover {
                border-color: @primarycolor;
            }
            img {
                display: inline-block;
                width: auto;
            }
        }
    }
    .title {
        margin-top: 10px;
        text-align: center;
        h3 {
            font-size: .933em;
            font-weight: normal;
            margin: 0;
        }
        a {
            color: @textcolor;
            &:hover {
                color: @linkhovercolor;
            }
        }
    }
}
/* COUNTDOWN
-----------------------------*/
.countdown {
    .timebox {
        display: inline-block;
        padding: 0 27px;
        position: relative;
        text-align: center;
        vertical-align: middle;
        &:after {
            content: ':';
            display: block;
            font-size: 30px;
            position: absolute;
            right: 0;
            top: 50%;
            z-index: 9;
            .transform(translateY(-50%));
        }
        &:last-child:after {
            display: none;
        }
        strong {
            color: @primarycolor;
            display: block;
            font-size: 2.857em;
            font-weight: 500;
            line-height: 1;
            min-width: 60px;
        }
        span {
            display: block;
            font-size: 1em;
            margin-top: 7px;
            text-transform: uppercase;
        }
    }
}
.fullbanner {
    margin-bottom: @rowspace + 75px;
    min-height: 530px;
    position: relative;
    .row-container {
        bottom: -47px;
        left: 50%;
        padding: 0 15px;
        position: absolute;
        z-index: 9;
        .transform(translateX(-50%));
        .vc_row {
            margin: 0;
        }
        .vc_column-inner {
            padding-left: 0;
            padding-right: 0;
        }
    }
    .wpb_single_image {
        margin: 0;
    }
}
/* PRODUCT COUNTDOWN
-----------------------------*/
.product-countdown {
    .owl-carousel {
        margin-bottom: 60px;
    }
    .shop-products {
        .box-shadow(none);
        .item-col {
            border: none;
        }
        .gridview {
            display: none;
        }
        .listview {
            border: 3px solid @primarycolor;
            display: block;
            padding: 50px 20px 50px 120px;
            position: relative;
            // countdown
            .count-down {
                display: block;
                left: -30px;
                position: absolute;
                top: 50%;
                z-index: 9;
                .transform(translateY(-50%));
                .hastime {
                    background: @primarycolor;
                    color: @white;
                    font-weight: @headingfontweight;
                    max-width: 130px;
                    min-width: 101px;
                    padding: 30px 10px;
                    text-align: center;
                    text-transform: uppercase;
                    white-space: nowrap;
                    .border-radius(5px);
                }
                .timebox {
                    display: block;
                    line-height: 1;
                    margin: 0 0 24px 0;
                    overflow: hidden;
                    padding: 0;
                    width: 100%;
                    &:last-child {
                        margin-bottom: 0;
                    }
                    strong {
                        display: block;
                        font-size: 2.133em;
                        font-weight: @headingfontweight;
                    }
                    span {
                        display: block;
                        font-size: .867em;
                        margin-top: 5px;
                    }
                }
            }
        }
        .list-col4 {
            float: right;
            width: 43%;
        }
        .list-col8 {
            float: left;
            padding: 0 0 0 30px;
            text-align: center;
            width: 57%;
        }
        .product-category {
            display: none;
        }
        .product-image {
            margin: 0;
        }
        .product-name {
            margin: 0 0 15px 0;
            a {
                font-size: 2.067em;
                line-height: 1.15;
            }
        }
        .price-box {
            margin-bottom: 20px;
        }
        .product-desc {
            font-size: 1.067em;
            margin-bottom: 25px;
        }
        .actions {
            .add-to-wishlist,
            .add-to-compare {
                display: none;
            }
            .add-to-cart {
                margin: 0;
                .add_to_cart_inline a {
                    background: @primarycolor;
                    border: none;
                    color: @white;
                    font-size: @textsize;
                    font-weight: @headingfontweight;
                    height: 50px;
                    line-height: 50px;
                    margin: 0;
                    max-width: 100%;
                    padding: 0 35px;
                    text-transform: uppercase;
                    white-space: nowrap;
                    width: auto;
                    .border-radius(50px);
                    &:before {
                        display: none;
                    }
                    &:hover {
                        background: darken(@primarycolor, 10%);
                        color: @white;
                    }
                }
            }
        }
    }
}
.roadthemes-slider.product-countdown .shop-products {
    background: none;
    .owl-item {
        padding: 0 30px;
    }
}
.product-grid-countdown {
    .shop-products .gridview .count-down {
        display: block;
    }
}
/* BANNER 
-----------------------------*/
.image-with-shadow {
    .wpb_single_image a {
        overflow: visible;
    }
    img {
        .box-shadow();
    }
}
.banner-nogap {
    padding-bottom: 35px;
    .row-container {
        padding-left: 15px;
        padding-right: 15px;
    }
    .vc_column_container > .vc_column-inner {
        padding-left: 0;
        padding-right: 0;
    }
    .wpb_single_image {
        margin: 0;
    }
}
.slider-image {
    margin-bottom: 25px;
    .wpb_single_image {
        margin-bottom: 10px;
    }
}
/* CATEGORY WITH IMAGE
-----------------------------*/
.category-with-image {
    margin-bottom: @rowspace;
    .row-container {
        max-width: 1170px;
        .box-shadow();
        .vc_column-inner {
            padding-left: 0;
            padding-right: 0;
        }
        .vc_row {
            border-top: 1px solid @bordercolor;
            margin-bottom: 0;
            margin-left: 0;
            margin-right: 0;
        }
    }
    .owl-carousel {
        margin-bottom: 0;
    }
    .shop-products.grid-view {
        .box-shadow(none);
        .actions {
            li:not(.quickviewbtn) {
                display: none;
            }
        }
        .product-wrapper {
            padding-bottom: 20px;
            padding-top: 21px;
        }
    }
    .wpb_single_image {
        margin-bottom: 0;
    }
}
