.visible-large {
    display: block;
}
.visible-small {
    display: none;
}
@media screen and ( min-width: 1200px ) {
    .header-container {
        &.header-2 {
            .row-container {
                position: relative;
            }
            .wpb_column {
                position: static;
            }
            .logo {
                display: block;
                height: auto;
                left: 15px;
                margin-top: -20px;
                max-height: 150px;
                min-height: 0;
                position: absolute;
                top: 50%;
                z-index: 9;
                .transform(translateY(-50%));
                img {
                    max-height: 100%;
                }
            }
        }
    }
}
@media screen and ( min-width: 1200px ) {
    .container {
        max-width: @rowcontainer;
    }
    .footer .footer-contact .wpb_column {
        width: auto;
    }
}
@media screen and ( max-width: 1199px ) {
    .wrapper {
        overflow-x: hidden;
        .row-container {
            max-width: 100%;
            width: 970px;
        }
    }
    .header-container .header-default {
        h1.logo {
            height: auto;
            margin: 0 0 25px 0;
            text-align: center;
            a {
                margin-left: auto;
                margin-right: auto;
            }
        }
        .header-search {
            margin: 0 0 10px 0;
            text-align: center;
        }
    }
    .main-container.about-page .about-text {
        padding: 0 30px;
    }
    /* header */
    .header-container {
        .wpb_single_image.logo {
            display: block;
            height: auto;
            margin-bottom: 30px;
            min-height: 0;
            text-align: center;
             > .wpb_wrapper {
                display: inline-block;
            }
        }
        .horizontal-menu {
            margin-top: 5px;
            text-align: center;
        }
    }
    /* footer */
    .footer {
        .mc4wp-form {
            width: 415px;
        }
        .footer-copyright {
            text-align: center;
        }
        .copyright-payment {
            margin-top: 15px;
            text-align: center;
        }
    }
    /* page */
    .product-countdown .shop-products {
        .listview {
            padding-left: 100px;
        }
        .product-name a {
            font-size: 1.333em;
        }
    }
    .slider-image {
        text-align: center;
        .vc_column-inner > .wpb_wrapper {
            margin-left: -15px;
            margin-right: -15px;
        }
        .wpb_single_image {
            display: inline-block;
            padding: 0 15px;
            * {
                width: 100%;
            }
        }
    }
    .category-with-image .row-container {
        width: 940px;
    }
    .shop-products .gridview .count-down .timebox {
        padding-left: 0;
        padding-right: 0;
        width: 52px;
    }
}
@media screen and ( max-width: 1199px ) and (min-width: 992px) {
    #secondary .product_list_widget {
        .product-image {
            margin-bottom: 20px;
            width: 100%;
        }
        .product-info {
            padding: 0;
            width: 100%;
        }
    }
    #secondary .yith-woocompare-widget a.compare {
        float: left;
        margin-top: 20px;
    }
}
@media screen and (min-width: 992px) {
    .category-with-image {
        .col-image {
            width: 31.7%;
        }
        .col-product {
            width: 68.3%;
        }
    }
    #secondary .widget_calendar {
        padding-left: 5px;
        padding-right: 5px;
        .widget-title {
            margin-left: 18px;
            margin-right: 18px;
        }
        table#wp-calendar {
            td {
                padding-left: 2px;
                padding-right: 2px;
            }
        }
    }
}
@media screen and (max-width: 991px) {
    .wrapper {
        .row-container {
            max-width: 100%;
            width: 750px;
        }
    }
    .yith_magnifier_mousetrap {
        display: none;
    }
    .visible-large {
        display: none;
    }
    .visible-small {
        display: block;
    }
    .mobile-menu {
        background: @primarycolor;
        margin: 0;
        position: relative;
        .mbmenu-toggler {
            color: #fff;
            cursor: pointer;
            font-family: @menufont;
            font-size: 16px;
            font-weight: 400;
            height: 50px;
            line-height: 50px;
            padding: 0 12px;
            text-align: left;
            text-transform: uppercase;
            width: 100%;
            span.mbmenu-icon {
                display: block;
                float: right;
                margin-left: 5px;
                width: 22px;
            }
        }
        .mobile-menu-container {
            background: #fff;
            border-radius: 3px;
            box-shadow: 0 3px 5px rgba(0, 0, 0, .6);
            float: left;
            height: 0;
            left: 0;
            max-width: 100%;
            overflow: hidden;
            padding: 0 12px;
            position: absolute;
            top: 100%;
            -webkit-transition: all .5s ease;
                    transition: all .5s ease;
            z-index: 99;
            &.open {
                display: block;
            }
            ul.nav-menu {
                float: left;
                margin: 5px 0;
                padding: 0;
                text-align: left;
                width: 100%;
                & > li {
                    float: left;
                    list-style: none;
                    margin: 0;
                    position: relative;
                    width: 100%;
                    & > a {
                        border-top: 1px solid @bordercolor;
                        color: @greycolor;
                        display: block;
                        float: left;
                        font-size: 16px;
                        height: 40px;
                        line-height: 40px;
                        text-transform: uppercase;
                        width: 100%;
                        &:hover {
                            color: @primarycolor;
                        }
                    }
                    &:first-child {
                        a {
                            border-top: none;
                        }
                    }
                    .fa {
                        color: @greycolor;
                        cursor: pointer;
                        float: right;
                        height: 40px;
                        line-height: 40px;
                        position: absolute;
                        right: 0;
                        text-align: center;
                        top: 0;
                        width: 40px;
                        z-index: 2;
                        &:hover {
                            color: @primarycolor;
                        }
                    }
                    //first sub
                    & > ul.sub-menu {
                        & > li {
                            & > a {
                                color: @greycolor;
                                &:hover {
                                    color: @primarycolor;
                                }
                            }
                        }
                    }
                    ul.sub-menu {
                        float: left;
                        margin: 0;
                        padding: 0 0 0 10px;
                        width: 100%;
                        li {
                            float: left;
                            list-style: none;
                            margin: 0;
                            position: relative;
                            width: 100%;
                            a {
                                border-top: 1px solid #ddd;
                                color: @greycolor;
                                display: block;
                                float: left;
                                font-family: @menufont;
                                height: 40px;
                                line-height: 40px;
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
    .main-container {
        max-width: 100%;
        overflow: hidden;
    }
    .header-container .header-sticky {
        display: none !important;
    }
    #secondary {
        .product_list_widget li {
            float: left;
            padding-right: 15px;
            width: 50%;
            &:nth-child(2n+1) {
                clear: both;
            }
        }
    }
    .main-container.about-page .about-text {
        padding: 0 15px;
    }
    .contact-page {
        .contact-form {
            margin-top: 30px;
        }
    }
    .main-container.error404 {
        .search-form-wrapper {
            padding: 80px 0;
            h1 {
                font-size: 100px;
                line-height: 100px;
            }
            h2 {
                font-size: 20px;
            }
            p {
                font-size: 16px;
            }
            .form-input {
                width: 300px;
            }
            a.button {
                margin-top: 40px;
            }
        }
    }
    /* header */
    .header-container {
        .header-default {
            .logo-wrapper {
                padding: 35px 0;
            }
            .header-search {
                margin: 0 0 30px 0;
            }
        }
        .header-text {
            margin-bottom: 25px;
            text-align: center;
        }
        .header-search-cart {
            text-align: center;
             > .vc_column-inner > .wpb_wrapper {
                display: inline-block;
                float: none;
                max-width: 100%;
                text-align: left;
            }
        }
        .main-menu-wrapper {
            margin-top: 20px;
            background: none !important;
        }
    }
    /* footer */
    .footer {
        .newsletter-container {
            text-align: center;
        }
        .newsletter-title {
            margin-bottom: 25px;
        }
        .newsletter-form {
            text-align: center;
             > .vc_column-inner > .wpb_wrapper {
                display: inline-block;
                max-width: 100%;
                text-align: left;
            }
        }
        .footer-contact {
            margin-top: 30px;
        }
    }
    /* page */
    .product-countdown .shop-products {
        .list-col4 {
            float: none;
            margin-bottom: 30px;
            width: 100%;
        }
        .list-col8 {
            float: none;
            width: 100%;
        }
        .listview .product-image img {
            width: auto;
        }
    }
    .fullbanner {
        min-height: 375px;
    }
    .category-with-image {
        .col-image {
            margin-bottom: 60px;
        }
        .shop-products {
            border-top: 1px solid @bordercolor;
        }
    }
    .shop-products .gridview .actions li {
        margin: 0 3px 0 0;
        &:last-child {
            margin: 0;
        }
    }
}
@media screen and (max-width: 767px) {
    @rowspace767: 35px;
    .vc_row {
        margin-bottom: @rowspace767 - 35px;
    }
    .container {
        max-width: none;
        width: 100%;
    }
    .wrapper {
        .row-container {
            padding-left: 15px;
            padding-right: 15px;
            width: 100%;
        }
    }
    .vc_row {
        margin-left: 0;
        margin-right: 0;
    }
    /* toolbar */
    .toolbar {
        .view-mode,
        .woocommerce-result-count,
        .woocommerce-ordering {
            margin: 0 0 20px 0;
            width: 100%;
        }
    }
    .shop-products.owl-carousel .item-col {
        width: 100%;
    }
    /* blog page */
    .main-container {
        .blog-page {
            .post-thumbnail {
                width: 100%;
            }
            .postinfo-wrapper {
                margin-top: 20px;
                width: 100%;
            }
        }
        .blogs.blog-sidebar .post-thumbnail-wrapper {
            margin: 0 0 30px 0;
            max-width: 100%;
            width: 100%;
        }
    }
    .main-container .comments-area .comment-respond .comment-form {
        .comment-form-author,
        .comment-form-email,
        .comment-form-url {
            width: 100%;
        }
    }
    .main-container .blog-page article .post-meta {
        > * {
            display: block;
            width: 100%;
            margin: 0 0 10px 0;
        }
        .post-separator {
            display: none;
        }
    }
    /* shop page */
    #archive-product {
        .shop-products .listview {
            .product-image {
                display: inline-block;
                margin-bottom: 20px;
                .woocommerce-LoopProduct-link,
                img {
                    width: auto;
                }
            }
            .list-col4 {
                text-align: center;
            }
            .list-col8 {
                text-align: center;
            }
        }
    }
    .quickview-wrapper #quickview-content {
        .product-images {
            margin-bottom: 30px;
            width: 100%;
        }
        .product-info {
            padding-left: 0;
            width: 100%;
        }
    }
    .woocommerce-page {
        table.cart {
            border: none;
            tr {
                border: 1px solid @bordercolor;
                margin-bottom: 30px;
                td {
                    border-right: none;
                }
                 > td:first-child {
                    border-top: none;
                }
            }
            .product-thumbnail {
                display: block;
                &:before {
                    display: none;
                }
            }
            .table-bottom {
                border: none;
                td {
                    padding: 0;
                }
            }
        }
    }
    /* header */
    .header-container {
        .header-search {
            .search-without-dropdown .widget_product_search .searchform .ws {
                width: 385px;
            }
        }
    }
    /* footer */
    .footer {
        .newsletter-container .newsletter-form .wpb_text_column > .wpb_wrapper > p {
        }
        .newsletter-container {
            .newsletter-form .wpb_text_column {
                float: none;
                 > .wpb_wrapper > p {
                    margin-bottom: 20px !important;
                    max-width: 100%;
                }
            }
            .mc4wp-form {
                margin: 0;
            }
        }
        .footer-contact {
            .wpb_column {
                margin-bottom: 30px;
            }
        }
    }
    /* page */
    .policy {
        margin-bottom: @rowspace767;
        .row-container {
            background: @white;
            display: block;
            padding: 20px 10%;
        }
        .wpb_column {
            background: none;
            border: none;
            text-align: center;
            .vc_column-inner > .wpb_wrapper {
                text-align: left;
                width: 100%;
            }
        }
    }
    .main-container .fullbanner {
        background: none !important;
        margin-bottom: 65px;
        .row-container {
            position: static;
            .transform(none);
        }
    }
    .heading-title.style6 h3 {
        font-size: 2em;
    }
    .main-container .category-with-image {
        margin-bottom: @rowspace767;
        margin-left: 0;
        margin-right: 0;
        .row-container {
            margin-left: 15px;
            margin-right: 15px;
            padding-left: 0;
            padding-right: 0;
            width: auto;
        }
    }
}
@media screen and (max-width: 639px) {
    /* checkout page, shopping cart */
    .shop_table.cart {
        .coupon {
            #coupon_code {
                margin: 0 0 20px 0;
                width: 100%;
            }
            .button {
                float: none !important;
                margin: 0;
                width: auto !important;
            }
        }
    }
    .woocommerce ul.order_details li {
        border: none;
        margin: 0 0 15px 0;
        padding: 0;
        width: 100%;
    }
    .main-container .order-box {
        padding: 30px 15px 15px 15px;
    }
    /* shop */
    #secondary .product_list_widget li {
        width: 100%;
    }
    /* blog page */
    .main-container .blog-page .comments-area .commentlist li.comment article.comment .comment-info {
        time,
        cite,
        .reply {
            display: block;
            float: none;
            margin: 15px 0 0 0;
            position: static;
            width: 100%;
            &:first-child {
                margin-top: 0;
            }
        }
    }
    .main-container blockquote {
        margin-left: 20px;
    }
    /* header */
    .header-container {
        .topbar {
            padding: 20px 0;
        }
        .topbar-left {
            text-align: center;
            width: 100%;
             > .vc_column-inner > .wpb_wrapper {
                display: inline-block;
                float: none;
                text-align: left;
                vertical-align: middle;
            }
        }
        .topbar-right {
            margin-top: 5px;
            text-align: center;
            width: 100%;
             > .vc_column-inner > .wpb_wrapper {
                display: inline-block;
                float: none;
                text-align: left;
                vertical-align: middle;
            }
        }
        .language-currency .menu > li {
            height: auto;
            line-height: inherit;
        }
        .topbar-menu ul a {
            line-height: inherit;
        }
        .header-search-cart {
            .header-search {
                margin: 0 0 25px 0;
                text-align: center;
                width: 100%;
            }
            .widget_shopping_cart {
                margin: 0;
                text-align: center;
                width: 100%;
                .mini_cart_content {
                    left: 50%;
                    right: auto;
                    .transform(translateX(-50%));
                }
            }
        }
    }
    /* footer */
    .footer {
        .copyright-payment .wpb_text_column {
            line-height: 1.2;
            margin: 0 0 5px 0;
        }
    }
    /* page */
    .vc_tta-container {
        .vc_tta-tabs-list {
            li {
                margin-bottom: 20px !important;
                a {
                    padding-bottom: 10px !important;
                }
            }
        }
        .roadthemes-slider .owl-nav {
            top: -20px;
        }
    }
    .main-container .product-view .single-product-image.slider {
        padding-left: 90px;
    }
    .main-container .product-view .single-product-image .thumbnails.slider {
        width: 75px;
    }
    .shop-products .gridview .actions li a {
        height: 40px;
        line-height: 40px;
        width: 40px;
    }
}
@media screen and (max-width: 479px) {
    @rowspace479: 45px;
    .vc_row {
        // margin-bottom: @rowspace479 - 35px;
    }
    [class*='vc_col-'] {
        width: 100% !important;
    }
    .header-container .widget_shopping_cart_content .mini_cart_content .mini_cart_inner {
        width: 300px;
    }
    .main-container .comments-area .commentlist li article.comment {
        .comment-avatar {
            float: none;
            margin-bottom: 20px;
        }
        .comment-info {
            margin: 0;
        }
    }
    /* shop page only */
    .toolbar {
        .view-mode,
        .woocommerce-result-count {
            width: 100%;
        }
        .woocommerce-result-count {
            margin-top: 20px;
            text-align: left;
        }
    }
    .main-container .product-view .product .woocommerce-tabs ul.tabs li {
        margin: 0 0 20px 0;
        text-align: center;
        width: 100%;
        a {
            display: inline-block;
        }
    }
    #secondary {
        .product_list_widget li {
            width: 100%;
        }
    }
    .main-container .product-view .summary.single-product-info .product_meta {
        .sku_wrapper,
        .posted_in,
        .tagged_as {
            display: block;
            margin: 0 0 10px 0;
        }
    }
    // one item
    .shop_content .shop-products .item-col {
        flex: 0 1 auto;
        max-width: 100%;
        width: 100%;
    }
    .woocommerce form {
        .form-row-first,
        .form-row-last {
            float: none;
            width: 100%;
        }
    }
    /* header */
    /* footer */
    .footer {
        .mc4wp-form .mc4wp-form-fields {
            background: none;
            padding: 0;
            .border-radius(none);
            input[type='email'] {
                background: @white;
                width: 100%;
                .border-radius(50px);
            }
            button[type='submit'] {
                margin-top: 15px;
                position: static;
                .transform(none);
            }
        }
    }
    /* page */
    .policy {
        margin-bottom: @rowspace479;
    }
    .posts-carousel {
        padding-left: 15px;
        padding-right: 15px;
    }
    .roadthemes-slider.roadthemes-products .shop-products {
        .owl-item {
            padding-left: 0;
            padding-right: 0;
            .product-wrapper {
                padding-left: 15px;
                padding-right: 15px;
            }
        }
        .count-down {
            margin: 0 0 20px 0;
            position: static;
            .transform(none);
            .hastime {
                max-width: none;
                .clearfix();
                .timebox {
                    float: left;
                    margin: 0;
                    width: 25%;
                    strong {
                        font-size: 1.5em;
                    }
                }
            }
        }
    }
    .main-container .product-view .product-content {
        padding-left: 15px;
        padding-right: 15px;
    }
    .main-container .product-view .single-product-image.slider {
        padding-left: 60px;
    }
    .main-container .product-view .single-product-image .thumbnails.slider {
        width: 45px;
    }
    .main-container .blogs article {
        padding-left: 15px;
        padding-right: 15px;
    }
}
